@model TravelShuttle.WebUI.Models.PageHeaderModel

<div class="container floated">
    <div class="sixteen floated page-title">
        <h2>@Model.linkPage</h2>

        <nav id="breadcrumbs">
            <ul>
                <li>Buradasınız : </li>
                <li><a href="#">@Model.linkUp</a></li>
                <li>@Model.linkPage</li>
            </ul>
        </nav>
    </div>

</div>